<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>
            <li><a href="{{ site.baseurl }}/connect">Connect</a></li>
            <li><a href="{{ site.baseurl }}/blog">Blog</a></li>
          </ul>
        </div>
        <p>Copyright © Design & Developed by Themefisher. All rights reserved. This site is completely serverless and maintained on AWS.</p>
      </div>
    </div>
  </div>
</footer>
