ul {
  list-style-type: none;
}


.welcome-landing {
    height: 100vh;
}


/**
	This fade in feature is from: http://www.chrisbuttery.com/articles/fade-in-fade-out-with-javascript/
*/

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn .5s ease-in 1 forwards;
}

.is-paused {
  animation-play-state: paused;
}